* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  /* text-shadow: #000 1px 1px; */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3D5E73;
  background-size: cover;
  background-position: center;
}

.marketplace {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #3D5E73;
  min-height: 100vh;
}

.main-content {
  display: flex;
  padding: 20px;
}